<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/ajax.js') }}"></script>
</head>
<body>
  <container class="container">
    <h1>Página Inicial</h1>
    <div class="navbar">
      <button id="loginBtn">Login</button>
      <button id="registerBtn">Register</button>
    </div>
    <div id="content" class="form-container"></div>
    <div id="contentErro" class="form-container"></div>

  </container>
</body>
</html>
