<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{{ url_for('static', filename='js/ajax.js') }}"></script>
</head>

<body>
  <container class="container">
    <h1>Bem Vindo {{ session['user_name'] }} a sua pagina pessoal!</h1>
    <div class="navbar">
      <button id="form_transBtn">Form</button>
      <button id="transBtn">Table</button>
      <button id="chartjs">Chartjs</button>
    </div>
    <div id="content" class="form-container"></div>
    <div id="content2" class="form-container"></div>
    <canvas id="myChart" width="400" height="400"></canvas>
  </container>
</body>

</html>